.custom-button {
  border: none;
  border-radius: 3px;
  padding: 2px 5px;
  background-color: aqua;
  margin: 5px;
  cursor: pointer;
  background-color: var(--color__btn--default);
  white-space: nowrap;

  &--success {
    background-color: var(--color__btn--success);
    color: white;
  }

  &--warn {
    background-color: var(--color__btn--warn);
    color: black;
  }

  &--danger {
    background-color: var(--color__btn--danger);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
