.create-todo {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;

  &__form {
    flex: calc(100% - 50px);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

    &--open {
      max-height: 250px;
    }
  }

  &__toggle {
    width: 50px;
    display: flex;
    justify-content: flex-start;

    span {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgb(238, 238, 238);
      font-size: 25px;
      display: block;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
