<app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>

<ng-container>
  <ul class="todo-list">
    <li
      class="todo-list__item"
      *ngFor="
        let todo of todoList$ | async | search : todoSearchLabel : 'label';
        let i = index;
        trackBy: todoById
      "
    >
      <app-todo-item
        [todo]="todo"
        [index]="i + 1"
        (deleteTodoEvent)="deleteTodo($event)"
        (toggleDoneEvent)="toggleDone($event)"
      ></app-todo-item>
    </li>
  </ul>
</ng-container>

<ng-template #emptyState>
  <app-empty-state text="No TODO Found"></app-empty-state>
</ng-template>
