.todo {
  display: flex;
  width: 100%;
  column-gap: 20px;

  &__checkbox {
  }

  &__index {
  }

  &__details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;

    &--open {
      max-height: 800px;
    }
  }

  &__label {
    &--done {
      text-decoration: line-through;
    }
  }

  &__description {
    padding: 10px 0;
  }

  &__category {
    padding: 10px 0;
  }

  &__actions {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__form {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

    &--open {
      max-height: 250px;
    }
  }
}
