<div class="todo" *ngIf="todo">
  <div class="todo__checkbox">
    <input
      type="checkbox"
      [checked]="todo.done"
      (change)="onToggleDone()"
    />
  </div>

  <div class="todo__label" [class.todo__label--done]="todo.done">
    <span class="todo__index">{{ index }}) </span> {{ todo.label }}
  </div>
  <div class="todo__actions">
    <button class="custom-button custom-button--warn" (click)="editTodo(todo.id)">Edit</button>
    <button class="custom-button custom-button--danger"  (click)="deleteTodo(todo.id)">Delete</button>
  </div>
</div>
