.todo {
  display: flex;
  width: 100%;
  column-gap: 20px;

  &__checkbox {
  }

  &__index {
  }

  &__label {
    &--done {
      text-decoration: line-through;
    }
  }

  &__actions {
    margin-left: auto;
  }
}
