<ng-container *ngIf="todo">
  <div class="todo">
    <div class="todo__checkbox">
      <input type="checkbox" [checked]="todo.done" (change)="onToggleDone()" />
    </div>

    <span class="todo__index">{{ index }}. </span>
    <div class="todo__label" [class.todo__label--done]="todo.done">
      <p>{{ todo.label }}</p>
      <div class="todo__details" [class.todo__details--open]="isExpanded">
        <p class="todo__description">
          <b>Description: </b> {{ todo.description }}
        </p>
        <p class="todo__category"><b>Category: </b>{{ todo.category }}</p>

        <p class="todo__date">
          <span>created: {{ todo.createdAt | date : "short" }}</span>
          <span *ngIf="todo.updatedAt">
            updated: {{ todo.updatedAt | date : "short" }}
          </span>
        </p>
      </div>
    </div>
    <div class="todo__actions">
      <button
        *ngIf="!isEditMode"
        class="custom-button custom-button--success"
        (click)="isExpanded = !isExpanded"
      >
        {{ isExpanded ? "Hide" : "Show More" }}
      </button>
      <button
        *ngIf="!isExpanded"
        class="custom-button custom-button--warn"
        (click)="isEditMode = !isEditMode"
      >
        {{ isEditMode ? "Hide" : "Edit" }}
      </button>
      <button
        *ngIf="!isEditMode && !isExpanded"
        class="custom-button custom-button--danger"
        (click)="deleteTodo(todo.id)"
      >
        Delete
      </button>
    </div>
  </div>

  <div class="todo__form" [class.todo__form--open]="isEditMode">
    <app-todo-form
      [todo]="todo"
      *ngIf="isEditMode"
      (closeFormEvent)="isEditMode = false"
    ></app-todo-form>
  </div>
</ng-container>
